@media (min-width: 801px) {
  .signup-scroll-one {
    width:calc(100% - 120px);
    margin:0 auto;
    height:auto;

    background-image: url(../img/website/scroll1.jpg);
    background-size:cover;
    background-position: center center;
  }

  .signup-scroll-one .overlay {
    width:100%;
    background:rgba(0,0,0,0.75);
    box-sizing: border-box;
    padding-top:0px;
    min-height:calc(100vh - 120px);
  }

  .signup-scroll-one form {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:60px;
    overflow:auto;
    box-sizing: border-box;
    padding: 20px;
    color:white;
  }

  .signup-input-box {
      width:100%;
      max-width: 600px;
      /*border:1px solid #eee;
      border-radius:3px;*/
      height:40px;
      margin-bottom:10px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
  }


  .signup-label {
    order:1;
    height:40px;
    line-height: 40px;
    vertical-align: top;
    flex-basis:120px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;

    color:white;
    letter-spacing: 0px;
    font-size:16px;
    font-family: effra_regular;
  }

  .signup-input {
    order:2;
    height:40px;
    line-height: 40px;
    vertical-align: top;
    padding-left: 10px;
    border: none;
    border-radius:0px;
    text-align: left;
    background-color: rgba(0,0,0,0.2);
    color:white;
    -webkit-appearance:none;
    font-family:effra_regular;
    flex-grow: 1;
  }

  .signup-input::placeholder {
    letter-spacing: 3px;
    font-size:14px;
    font-family: effra_regular;
    color:#ddd;
  }

  .signup-select {
    order:2;
    height:40px;
    line-height: 40px;
    vertical-align: top;
    padding-left: 10px;
    border: none;
    border-radius:0px;
    text-align: left;
    flex-grow: 1;
    background: url(../img/website/arrow_down_white.png) no-repeat right;
    background-color: rgba(0,0,0,0.2);
  	background-size:contain;
    color:white;
    -webkit-appearance:none;
    font-family:effra_regular;
  }
}

@media (max-width: 800px) {
  .signup-scroll-one {
    width:100%;
    height:auto;
    background-image: url(../img/website/scroll1.jpg);
    background-size:cover;
    background-position: center center;
    padding: 0px 0px;
  }

  .signup-scroll-one .overlay {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.75);
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom:40px;
  }

  .signup-scroll-one form {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    box-sizing: border-box;
    padding: 20px;
    color:white;
  }

  .signup-input-box {
      width:100%;
      max-width: 600px;
      /*border:1px solid #eee;
      border-radius:3px;*/
      height:90px;
      margin-bottom:10px;
      overflow: hidden;

  }


  .signup-label {
    order:1;
    height:40px;
    line-height: 40px;
    vertical-align: top;
    width: 100%;
    text-align: left;
    padding-right:10px;
    color:white;
    letter-spacing: 3px;
    font-size:14px;
    font-family: effra_regular;
  }

  .signup-input {
    width:100%;
    order:2;
    flex-basis:40px;
    height:40px;
    line-height: 40px;
    vertical-align: top;
    padding-left: 10px;
    border: none;
    border-radius:0px;
    text-align: left;
    background-color: rgba(0,0,0,0.2);
    color:white;
    -webkit-appearance:none;
    font-family:effra_regular;
  }

  .signup-input::placeholder {
    letter-spacing: 3px;
    font-size:14px;
    font-family: effra_regular;
    color:#ddd;
  }

  .signup-select {
    width:100%;
    order:2;
    height:40px;
    line-height: 40px;
    vertical-align: top;
    padding-left: 10px;
    border: none;
    border-radius:0px;
    text-align: left;
    background: url(../img/website/arrow_down_white.png) no-repeat right;
    background-color: rgba(0,0,0,0.2);
  	background-size:contain;
    color:white;
    -webkit-appearance:none;
    font-family:effra_regular;
  }
}



.signup-scroll-one .overlay-flex {
  width:100%;
  background:rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:60px;
  min-height:calc(100vh - 120px);
}



.signup-scroll-one .input-box {


}

.signup-submit-btn {
  display: inline-block;
  height:40px;
  border:1px solid #eee;
  border-radius: 0px;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:#eee;
  -webkit-appearance:none;
  background:transparent;
  font-family:effra_regular;

}

.signup-submit-btn-orange {
  display: inline-block;
  height:40px;
  border:1px solid #e77f24;
  background: #e77f24;
  border-radius: 0px;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:#eee;
  -webkit-appearance:none;
  font-family:effra_light;

}
