option{
  background: #202020;
  background-color: rgba(0, 0, 0, 0.65);
  color:white;
  padding-left:20px;
}

/* ==========================================================================
   HYPERLINKS
   ========================================================================== */

a, a:visited {
  color:currentColor;
  text-decoration: none;

}

/* ==========================================================================
   MOBILE/WEB MEDIA QUERIES
   ========================================================================== */
   @media (max-width: 800px) {
     .mobile-menu {
       width:100%;
       height:100%;
       display:flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;

     }

      .web-menu {
        display: none;
      }
   }

   @media (min-width: 801px) {
      .mobile-menu {
        display: none;
      }

      .web-menu {
        width:100%;
        height:100%;
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
      }
   }


/* ==========================================================================
   BODY
   ========================================================================== */

body {
  font-family: effra_regular;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */



.spacio-login-button-black {
  height:30px;
  line-height:30px;
  border:1px solid black;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:black;
  cursor: pointer;
  font-family: effra_regular;
  position: absolute;
  right:60px;
  top:15px;
  letter-spacing: 3px;

}

@media (min-width: 801px) {
.contact-sales-btn {
	margin-right:20px;
}

.spacio-boxed-button-white {
  display: inline-block;
  height:40px;
  line-height:40px;
  border:1px solid white;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  cursor: pointer;
  font-family: effra_regular;
}

.spacio-boxed-button-black {
  display: inline-block;
  height:40px;
  line-height:40px;
  border:1px solid black;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  margin:10px;
  text-align:center;
  text-transform:uppercase;
  color:black;
  cursor: pointer;
  font-family: effra_regular;

}

.spacio-boxed-button-orange {
  display: inline-block;
  height:40px;
  line-height:40px;
  border:1px solid #e77f24;
  background: #e77f24;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  cursor: pointer;
  font-family: effra_regular;
}
}

@media (max-width: 800px) {
	.contact-sales-btn {
		margin-bottom:10px;
}

.spacio-boxed-button-white {
  display: inline-block;
  height:40px;
  line-height:40px;
  border:1px solid white;
  width:160px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  cursor: pointer;
  font-family: effra_regular;
}

.spacio-boxed-button-black {
  display: inline-block;
  height:40px;
  line-height:40px;
  border:1px solid black;
  width:160px;
  margin:10px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:black;
  cursor: pointer;
  font-family: effra_regular;

}

.spacio-boxed-button-orange {
  display: inline-block;
  height:40px;
  line-height:40px;
  border:1px solid #e77f24;
  background: #e77f24;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  cursor: pointer;
  font-family: effra_regular;
}
}

/***************************** LOADING PANEL ****************************/

.loading-panel {
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	display:none;
	background:rgba(0,0,0,0.75);
  width:100vw;
  height:100vh;
}

/* ==========================================================================
   TOP MENU
   ========================================================================== */


  .spacio-top-menu {

    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:60px;
    background:white;
    color:#6F6F6F;
    font-size:16px;
    font-family: effra_light;
    overflow:visible;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    z-index:100;
  }

  .spacio-top-menu.open {
    height:100vh;
  }

  @media (min-width:1201px) {

  .spacio-top-menu-logo {
      width:200px;
      text-align: center;
  }
}
@media (max-width:1200px) {

.spacio-top-menu-logo {
    width:160px;
    text-align: center;
}
}

  .spacio-top-menu-logo-mobile {
      height:40px;
      margin-top: 10px;
      margin-left: 20px;
      text-align: left;
      display: inline-block;
  }

@media (min-width:1201px) {
  .spacio-top-menu-button {
    height:40px;
    width:175px;

    text-align: center;
    letter-spacing: 3px;

  }
}

@media (max-width:1200px) {
  .spacio-top-menu-button {
    height:40px;
    width:130px;

    text-align: center;
    letter-spacing: 1px;

  }
}

  .spacio-top-menu-button .btn {
    display: inline-block;
    position: relative;
    height:40px;
    line-height: 40px;
    cursor:pointer;
  }


  .spacio-top-menu-button.selected .underline {
    display: block;
  }

  .spacio-top-menu-button .underline {
    display: none;
    width:100%;
    height:5px;
    background:#EEEEEE;
    position: relative;
    top: -10px;
  }

  .spacio-mobile-menu-bar {
      height:60px;
      width:100%;
  }
  .spacio-mobile-menu-content {
      display: none;
      flex-grow:1;
      width:100%;
      overflow-x: auto;
      box-sizing: border-box;
      padding: 20px;
  }

  .spacio-mobile-menu-button {
    margin-top:0px;
    width:100%;
    border-bottom: 1px solid #eee;
    height:40px;
    line-height:40px;
    font-size:16px;
    color:#6f6f6f;
    overflow:hidden;
    cursor: pointer;

  }

  .spacio-mobile-submenu-button {
    width:100%;
	box-sizing:border-box;
	padding-left:20px;
    height:40px;
    line-height:40px;
    font-size:16px;
    color:#6f6f6f;
    overflow:hidden;
    cursor: pointer;

  }

  .spacio-mobile-submenu {
	display:none;
    width:100%;
    border-bottom: 2px solid #eee;
    line-height:40px;
    font-size:16px;
    color:#6f6f6f;

  }

  .product-options {
    position: absolute;
    top:60px;
    left:0px;
    height:calc(100vh - 60px);
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    display: none;
    width:100%;
  }

  .product-options-bar {
      position: absolute;
      top:0px;
      left:0px;
      height:140px;
      line-height: 1.5;
      box-sizing: border-box;
      text-align: center;
      color:black;
      background: white;
      border-top: 1px solid #eee;
      width:100%;

  }

  .product-options-overlay {
      position: absolute;
      top:140px;
      left:0px;
      height:calc(100% - 140px);
      box-sizing: border-box;
      background: rgba(0,0,0,0.5);
      width:100%;
  }

  .product-option {
    width:200px;
    display:inline-block;
    height:80px;
    margin-top: 40px;
    vertical-align: top;
    cursor: pointer;
  }


  .product-type-title {
    letter-spacing: 3px;
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
  }

  #nav-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top:15px;
    right:20px;
    margin:0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 0 0 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 0 0 0 0;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 20px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 4px;
  top: 14px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 14px;
}
/* ==========================================================================
  SCROLL ONE
   ========================================================================== */
@media (min-width: 801px) {
  .scroll-one {
    width:calc(100% - 120px);
    margin:0 auto;
    height:calc(100vh - 60px);
    background-image: url(../img/website/scroll1.jpg);
    background-size:cover;
    background-position: center center;
  }
}

@media (max-width: 800px) {
  .scroll-one {
    width:100%;
    height:auto;
    background-image: url(../img/website/scroll1.jpg);
    background-size:cover;
    background-position: center center;
    position:relative;

  }
}



@media (min-width: 801px) {

  .down-arrow-section {
    height:60px;
    width:100%;
    background-color:white;
    text-align:center;

  }

  .scroll-one .overlay {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

  }

  .scroll-one .overlay .content {
    color:white;
    line-height: 1.4;
    max-width:680px;
    text-align:center;
    font-family: effra_regular;
    letter-spacing: 3px;

  }

  .scroll-one .overlay .content .download-link {
	  height:50px;
  }

  .scroll-one .signup-section {
	position:absolute;bottom:80px;left:0px;text-align:center;width:100%;color:white;
  }
}

@media (max-width: 800px) {

  .down-arrow-section {
    height:40px;
    width:100%;background-color:white;text-align:center;
  }

  .down-arrow-section img {
    display:none;

  }

  .scroll-one .overlay {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    box-sizing: border-box;
    padding-top:120px;
    padding-bottom:160px;

  }

  .scroll-one .overlay .content {
    color:white;
    line-height: 1.4;
    width: 80%;
    text-align:center;
    font-family: effra_regular;
    letter-spacing: 3px;
    margin: 0 auto;

  }

  .scroll-one .overlay .content .download-link {
	  height:40px;
  }

  .scroll-one .signup-section {
	position:absolute;bottom:40px;left:0px;text-align:center;width:100%;color:white;
  }
}


/* ==========================================================================
  SCROLL TWO
   ========================================================================== */
.scroll-two-bg {
  background-image:url(../img/website/scroll2_a.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height:calc(100%);


}



.scroll-two .left, .scroll-two .right {
  transition: all 0.5s ease-in;

}

@media (min-width: 801px) {
  .scroll-two {
    width:calc(100% - 80px);
    margin:0 auto;
    font-size:40px;
    height:100vh;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
  }

  .scroll-two .left {
    position: absolute;
    top:0px;
    left:0%;
    width:45%;
    height:100%;
    text-align:left;
    z-index:10;
    box-sizing: border-box;
    padding-left:40px;
    padding-top: 80px;
    opacity: 0;
  }

  .scroll-two .right {
    position: absolute;
    top:0px;
    right:0%;
    width:55%;
    height:100%;
    text-align:left;
    z-index:5;
  }

  .agents, .brokerages, .builders {
    opacity: 0;

  }
  .scroll-two-bottom-button {
    line-height: 40px;
    height:40px;
    display: inline-block;
    text-align: center;
    letter-spacing: 3px;
    padding-left:20px;
    padding-right:20px;
    font-size:16px;
    cursor:pointer;
    font-family: proxima_nova_rgregular;
    margin: 0;
    vertical-align: top;
  }

  .scroll-two .bottom {
  position: absolute;
  z-index:20;
  width:100%;
  height:40px;
  left:0px;
  bottom:20px;
  text-align: center;

}

}

@media (max-width: 800px) {
  .scroll-two {
    width:calc(100% - 40px);
    margin:0 auto;
    font-size:40px;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
  }

  .scroll-two .left {
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
    text-align:center;
    box-sizing: border-box;
	  padding-bottom:40px;
	  opacity: 0;
  }

  .scroll-two .right {
    display:none;
  }

  .scroll-two-bottom-button {
    line-height: 40px;
    height:40px;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    padding-left:2px;
    padding-right:2px;
    font-size:12px;
    cursor:pointer;
    font-family: proxima_nova_rgregular;
    margin: 0;
    vertical-align: top;
  }

	.scroll-two .bottom {
  position: absolute;
  z-index:20;
  width:100%;
  height:40px;
  left:0px;
  bottom:20px;
  text-align: center;

}
}


.scroll-two-bottom-button.selected .underline {
  display: block;
}

.scroll-two-bottom-button .underline {
  display: none;
  width:100%;
  height:5px;
  background:#EEEEEE;
  position: relative;
  top: -10px;
}

/* ==========================================================================
  SCROLL THREE
   ========================================================================== */

@media (min-width: 801px) {
  .scroll-three {
    width:100%;
    margin:0 auto;
    background:#F8F8F8;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    border-top:1px solid #eee;
    box-sizing: border-box;
    padding-top:80px;
    padding-bottom:40px;
  }

  .scroll-three .title {
    font-family: effra_regular;
    width:calc(100% - 80px);
    text-align: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
  }

  .scroll-three .value-props-container {
    width:700px;
    margin:0 auto;
    height:370px;
    text-align: center;
    vertical-align: top;
  }

  .scroll-three .value-prop {
    display: inline-block;
    width:310px;
    margin:0 15px;
    height:180px;
    vertical-align: top;
  }

  .scroll-three .value-prop-title {
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.short-grey-line {
  margin: 10px auto;
  width:50px;
  height: 1px;
  border-bottom: 1px solid #B3B3B3;

}

.short-white-line {
  margin: 10px auto;
  width:50px;
  height: 1px;
  border-bottom: 1px solid white;

}
@media (max-width: 800px) {
  .scroll-three {
    width:100%;
    margin:0 auto;
    background:#F8F8F8;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    border-top:1px solid #eee;
    box-sizing: border-box;
    margin:0 auto;
    padding-top:40px;
    padding-bottom:40px;
  }

  .scroll-three .title {
    font-family: effra_regular;
    width:calc(100% - 40px);
    text-align: center;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
  }

  .scroll-three .value-props-container {
    width:calc(100% - 40px);
    margin:0 auto;
    text-align: center;
  }

  .scroll-three .value-prop {
    width:100%;
    margin-bottom:30px;
  }

  .scroll-three .value-prop-title {
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

/* ==========================================================================
  SCROLL FOUR
   ========================================================================== */



 .scroll-four img {
   margin:10px;
 }


@media (min-width: 801px) {
  .scroll-four {
    width:calc(100% - 80px);
    margin:0 auto;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    box-sizing: border-box;
    padding-top:80px;
    padding-bottom:80px;
    margin: 0 auto;
  }

  .scroll-four .title {
    font-family: effra_regular;
    width:600px;
    text-align: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (max-width: 800px) {
  .scroll-four {
    width:calc(100% - 40px);
    margin:0 auto;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom:40px;
    margin: 0 auto;
  }

  .scroll-four .title {
    font-family: effra_regular;
    width:100%;
    text-align: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
  }
}

/* ==========================================================================
  SCROLL FIVE
   ========================================================================== */



 .scroll-five img {
   margin:10px;
 }


@media (min-width: 801px) {
  .scroll-five {
    width:calc(100% - 80px);
    margin:0 auto;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    border-top:1px solid #eee;
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom:80px;
    margin: 0 auto;
  }

  .scroll-five .title {
    font-family: effra_regular;
    width: calc(100% - 80px);
    text-align: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
  }

	.quote-texts {
		height:120px;
	}
  .quotes {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;;
  }

  .quote-profile {
    width:220px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .quote-profile-picture {
    width:100px;
    height:100px;
    border-radius:120px;
    padding: 0;
      border: 5px solid white;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .quote-text {
    display:none;
    max-width:800px;
    margin: 0 auto;
  }

  .quote-source {
    display:none;
  }



  .quote-profile.selected .quote-profile-picture{
    border: 5px solid #ddd;

  }

  .quote-profile-names {
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

}

@media (max-width: 800px) {
  .scroll-five {
    width:calc(100% - 40px);
    margin:0 auto;
    background:white;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    position:relative;
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom:40px;
    margin: 0 auto;
  }

  .scroll-five .title {
    font-family: effra_regular;
    width:100%;
    text-align: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
  }

  .quote-texts {
	margin-bottom:20px;
	}
  .quotes {
    margin-top: 30px;

  }

  .quote-profile {
    width:220px;
    text-align: center;
	margin:0 auto;
	display:none;
  }

  .quote-profile-picture {
    width:100px;
    height:100px;
    border-radius:120px;
    padding: 0;
      border: 5px solid white;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .quote-text {
    display:none;
    max-width:800px;
    margin: 0 auto;
  }

  .quote-source {
    display:none;
  }



  .quote-profile.selected{
    display:block;

  }

  .quote-profile-names {
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

/* ==========================================================================
  SCROLL SIX
   ========================================================================== */




@media (min-width: 801px) {

  .scroll-six {
    width:100%;
    background-image: url(../img/website/scroll6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;

  }

  .scroll-six .overlay {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 40px;
  }

   .scroll-six .title {
     font-family: effra_regular;
     width:600px;
     text-align: center;
     margin-bottom: 40px;
     margin-left:auto;
     margin-right:auto;
     color:white;
   }

   .scroll-six .stats-container {
     width:800px;
     height:120px;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
   }

   .scroll-six .stat {
     flex-grow: 1;
     height: 120px;
     text-align: center;
     color:#eee;
     line-height: 1.2;
   }

   .scroll-six .stat-title {
     font-size:80px;
   }

   .scroll-six .stat-subtitle {
     font-size:16px;
   }

}

@media (max-width: 800px) {
  .scroll-six {
    position: relative;
    width:100%;
    background-image: url(../img/website/scroll6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    line-height: 1.4;
    text-align:center;
    font-family: effra_regular;
    box-sizing: border-box;

  }

  .scroll-six .overlay {
    padding-top: 60px;
    padding-bottom: 40px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    box-sizing: border-box;
  }

  .scroll-six .title {
    font-family: effra_regular;
    width:calc(100% - 40px);
    text-align: center;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
    color:white;
  }

  .scroll-six .stats-container {
    width:calc(100% - 40px);
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }

  .scroll-six .stat {
    flex-grow: 1;
    flex-basis: 50%;
    height: 80px;
    text-align: center;
    color:#eee;
    line-height: 1.2;
  }

  .scroll-six .stat-title {
    font-size:40px;
  }

  .scroll-six .stat-subtitle {
    font-size:14px;
  }

}



/* ==========================================================================
  FOOTER
   ========================================================================== */

   @media (min-width: 901px) {

     .footer {
       width:100%;
       background: white;
       line-height: 1.4;
       text-align:left;
       font-family: effra_regular;
       box-sizing: border-box;
       padding-top: 80px;
       padding-bottom: 40px;

     }

      .footer .menu-container {
        width:800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-start;;
        flex-wrap: nowrap;
      }

      .footer .menu-column {
        flex-grow: 1;
        text-align: left;
        color:#eee;
        line-height: 1.4;
        color:black;
        font-size:14px;
      }

	  .footer .menu-container-mobile {
		display:none;
	 }

    .preferred-logo {
      height:100px;
      margin:0px 5px;

    }

   }

   @media (max-width: 900px) {
     .footer {
       width:100%;
	   background:white;
	   padding-bottom: 40px;
	   text-align:left;
     }

	 .footer .menu-container {
		display:none;
	 }

	 .footer .menu-container-mobile {
		width:100%;
		padding:20px;
		box-sizing:border-box;
		font-size:12px;
	 }

	 .footer-menu-row {
     margin-top:10px;
     width:100%;
     border-bottom: 1px solid #eee;
     height:40px;
     line-height:40px;
     font-size:16px;
     color:#6f6f6f;
     overflow:hidden;
     cursor: pointer;

		background-size:20px 20px;
		background-repeat:no-repeat;
		background-position:right center;
		background-image:url(/assets/img/website/arrow_down_black.png);
	 }

	 .footer-menu-row.toggled {
		 background-image:url(/assets/img/website/arrow_up_black.png);
	 }

		.footer-submenu {
		display:none;
		width:100%;

		}

		.footer-submenu-row {
		width:100%;
		height:40px;
		line-height:40px;
		box-sizing:border-box;
		padding-left:20px;
    font-size:16px;
	 }
   .preferred-logo {
     width:50%;
     margin:10px auto;
     display: block;

   }

   }

   .menu-column-title {
     letter-spacing: 3px;
      font-family: proxima_nova_rgregular;
      margin-bottom: 20px;
   }

 /* ==========================================================================
     LOGIN OPTIONS
      ========================================================================== */


@media (min-width: 801px) {

  .login-option {
  height:40px;
  line-height:40px;
  border:1px solid white;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  cursor: pointer;
  font-family: effra_regular;
  margin-bottom:10px;
  }

  .login-box {
    width:400px;
    height:400px;
    background:#282828;
    box-sizing: border-box;
    padding-left:55px;
    padding-right:55px;
    padding-top:60px;
    position:relative;
    color:white;
	font-family:effra_light;
  }

  .login-overlay {
  display:none;
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.login-container {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-close-btn {
	  display: inline-block;
	  height:30px;
	  line-height:30px;
	  border:1px solid #eee;
	  padding-left:20px;
	  padding-right:20px;
	  font-size:16px;
	  text-align:center;
	  text-transform:uppercase;
	  color:#eee;
	  cursor: pointer;
	  position: absolute;
	  right:20px;
	  top:20px;
	}


}

@media (max-width: 800px) {

  .login-option {
  height:40px;
  line-height:40px;
  border:1px solid white;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  cursor: pointer;
  font-family: effra_regular;
  margin-bottom:10px;
  }

  .login-box {
    width:calc(100% - 40px);
    height:calc(100% - 40px);
    background:#282828;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:20px;
    padding-top:60px;
    position:relative;
    color:white;
	  font-family:effra_light;
  }

  .login-overlay {
  display:none;
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.login-container {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-close-btn {
	  display: inline-block;
	  height:30px;
	  line-height:30px;
	  border:1px solid #eee;
	  padding-left:20px;
	  padding-right:20px;
	  font-size:16px;
	  text-align:center;
	  text-transform:uppercase;
	  color:#eee;
	  cursor: pointer;
	  position: absolute;
	  right:20px;
	  top:20px;
	}


}

   /* ==========================================================================
     POPUPS
      ========================================================================== */


.popup-overlay {
  display:none;
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.popup-overlay-2 {
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.popup-container {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 801px) {

  .popup-input-box {
    width:100%;
    /*border:1px solid #eee;
    border-radius:3px;*/
    height:40px;
    margin-bottom:10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 800px) {

  .popup-input-box {
    width:100%;
    /*border:1px solid #eee;
    border-radius:3px;*/
    height:40px;
    margin-bottom:10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
}

.popup-input-textbox {
  width:100%;

  height:120px;
  margin-bottom:10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup-label {
  order:1;
  height:40px;
  line-height: 40px;
  vertical-align: top;
  flex-basis:110px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  padding-right:10px;
  color:white;
  letter-spacing: 3px;
  font-size:14px;
  font-family: effra_regular;
}

.popup-input::placeholder {
  letter-spacing: 3px;
  font-size:14px;
  font-family: effra_regular;
  color:#ddd;
}
.popup-input {
  order:2;
  height:40px;
  line-height: 40px;
  vertical-align: top;
  padding-left: 10px;
  border: none;
  border-radius:0px;
  text-align: left;
  background-color: rgba(0,0,0,0.2);  color:white;
  -webkit-appearance:none;
  font-family:effra_regular;
  flex-grow: 1;
}

.popup-select {
  order:2;
  height:40px;
  line-height: 40px;
  vertical-align: top;
  padding-left: 10px;
  border: none;
  border-radius:0px;
  text-align: left;
  flex-grow: 1;
  background: url(../img/website/arrow_down_white.png) no-repeat right;
  background-color: rgba(0,0,0,0.2);
	background-size:contain;
  color:white;
  -webkit-appearance:none;
  font-family:effra_regular;
}

.popup-textbox::placeholder {
  letter-spacing: 3px;
  font-size:14px;
  font-family: effra_regular;
  color:#ddd;
}

.popup-textbox {
  order:2;
  height:120px;
  line-height: 1.2;
  vertical-align: top;
  padding-left: 10px;
  padding-top:10px;
  box-sizing:border-box;
  border: none;
  border-radius:0px;
  text-align: left;
flex-grow: 1;
 background: rgba(0,0,0,0.2);
  color:white;
  -webkit-appearance:none;
  font-family:effra_regular;
  resize:none;
}

.popup-error-message {
	display: inline-block;
  	height:40px;
	width:300px;
  	line-height:40px;
 	font-size:16px;
  	text-align:left;
  	color:#FF4D4D;
  	position: absolute;
  	left:60px;
  	bottom:20px;
}

 @media (min-width: 801px) {
  .popup-box {
    width:600px;
    background:#282828;
    box-sizing: border-box;
    padding-left:60px;
    padding-right:60px;
    padding-top:40px;
    padding-bottom:60px;
    position:relative;
    color:white;
  }

  .popup-submit-btn {
	  display: inline-block;
	  height:40px;
	  line-height:40px;
	  border:1px solid #eee;
	  padding-left:20px;
	  padding-right:20px;
	  font-size:16px;
	  text-align:center;
	  text-transform:uppercase;
	  color:#eee;
	  cursor: pointer;
	  position: absolute;
	  right:60px;
	  bottom:20px;

	}

	.popup-close-btn {
	  display: inline-block;
	  height:30px;
	  line-height:30px;
	  border:1px solid #eee;
	  padding-left:20px;
	  padding-right:20px;
	  font-size:16px;
	  text-align:center;
	  text-transform:uppercase;
	  color:#eee;
	  cursor: pointer;
	  position: absolute;
	  right:20px;
	  top:20px;
	}
}

 @media (max-width: 800px) {
  .popup-box {
    width:100%;
    height:100%;
    background:#282828;
    box-sizing: border-box;
    padding-left:20px;
    padding-right:20px;
    padding-top:60px;
    position:relative;
    color:white;
	overflow:auto;
  }

  .popup-submit-btn {
	  display: block;
	  height:40px;
	  line-height:40px;
	  border:1px solid #eee;
	  padding-left:20px;
	  padding-right:20px;
	  font-size:16px;
	  text-align:center;
	  text-transform:uppercase;
	  color:#eee;
	  cursor: pointer;
	}

	.popup-close-btn {
	  display: none;

	}

	.popup-close-btn-mobile {
		height:40px;
		width:40px;

	  	cursor: pointer;
	  	position: absolute;
	  	right:0px;
	  	top:0px;
		 background-size: cover;
    	 background-repeat: no-repeat;
    	 background-position: center center;
     	background-image: url(/assets/img/website/close_white.png);
	}
}

/* ==========================================================================
  LEARN MORE SCROLL
   ========================================================================== */

@media (min-width: 801px) {
  .learnmore-scroll {
    width:100%;
    padding-top:60px;
    padding-bottom:60px;
    text-align: center;
    border-bottom:1px solid #eeeeee;
  }
}

@media (max-width: 800px) {
  .learnmore-scroll {
    width:100%;
    padding-top:60px;
    padding-bottom:60px;
    padding-left:20px;
    padding-right:20px;
    box-sizing: border-box;
    text-align: center;
    border-bottom:1px solid #eeeeee;
  }
}

/* ==========================================================================
  ALERT BOX
   ========================================================================== */

   .alert-overlay {
     display:none;
     position:fixed;
     z-index:999;
     top:0;
     left:0;
     width:100vw;
     height:100vh;
   }

   .alert-container {
     width: 100%;
     height: 100%;
     background:rgba(0,0,0,0.75);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

  @media (min-width: 401px) {
   .alert-box {
     position: relative;
     width:400px;
     background: #282828;
     color:white;
   }
  }

   @media (max-width: 400px) {
     .alert-box {
       position: relative;
       width:calc(100% - 20px);
       background: #282828;
       color:white;
     }
   }

   .alert-title {
     font-family:proxima_nova_rgregular;
     margin-bottom:10px;
     font-size:18px;
   }

   .alert-message {
     font-family:effra_regular;
     font-size:16px;
     margin-bottom:20px;
   }

   .alert-icon {
     position: absolute;
     top:20px;
     left:20px;
     width:40px;
     height:40px;
   }

   .alert-content {
     width:calc(100% - 60px);
     margin-left: 60px;
     box-sizing: border-box;
     padding:20px;
   }
   .alert-buttons {
     width:100%;
     height:40px;
     position: relative;
   }

   .alert-button-1 {
     height:100%;
     width:50%;
     position: absolute;
     top:0;
     left:0;
     background:white;
     color:black;
     line-height: 40px;
     text-align: center;
     text-transform: uppercase;
     cursor:pointer;
   }

   .alert-button-2 {
     height:100%;
     width:50%;
     position: absolute;
     top:0;
     left:50%;
     background:#eee;
     color:black;
     line-height: 40px;
     text-align: center;
     text-transform: uppercase;
     cursor:pointer;
   }

   .alert-box-x {
     position: absolute;
     top:0;
     right:0;
     width:40px;
     height:40px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     background-image: url(/assets/img/website/close_white.png);
     cursor: pointer;
   }
